<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>Servlet</display-name>
    <welcome-file-list>
        <welcome-file>view/pages/formLogin.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            com.dev.servlet.core.listener.ContextListener
        </listener-class>
    </listener>

    <!-- filter chain order -->
    <filter>
        <filter-name>SecurityPasswordEncryptionFilter</filter-name>
        <filter-class>com.dev.servlet.infrastructure.security.PasswordEncryptFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityPasswordEncryptionFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SecurityXSSFilter</filter-name>
        <filter-class>com.dev.servlet.infrastructure.security.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityXSSFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SecurityAuthFilter</filter-name>
        <filter-class>com.dev.servlet.infrastructure.security.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityAuthFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
</web-app>