<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>Servlet</display-name>
    <welcome-file-list>
        <welcome-file>view/pages/formLogin.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            com.dev.servlet.listeners.ContextListener
        </listener-class>
    </listener>

    <!-- filter chain order -->
    <filter>
        <filter-name>PasswordEncryptionFilter</filter-name>
        <filter-class>com.dev.servlet.filter.PasswordEncryptFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PasswordEncryptionFilter</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>com.dev.servlet.filter.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AFUSER</filter-name>
        <filter-class>com.dev.servlet.filter.Auth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AFUSER</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>
</web-app>